.rectangulo {
     height: 80px;
     width: 1360px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

p {
	color: white;
	text-align: center;
	font: 200% sans-serif;
}

p.padding {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#form-div {
	background:#E60000;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 5px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.TEXTO {
	width: 100px;
	float: left;
	margin-left: 30px;
	height: 40px;
	clear: both;
	line-height: 40px;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
	color: #FFF8DC;
	font-size: 3em;
}

.BOX {
	float: left;
	width: auto;
	margin-left: 30px;
	clear: both;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
}

.databox {
	font-family: "Muli", sans-serif;
	font-size: 2em;
	border-radius: 2px;
	height: 50px;
	width: auto;
	color: #999;
	font-weight: normal;
}

.boton{
	    margin-left: 30px;
        font-size:30px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#00008B;
        border:0px;
        width:200px;
        height:50px;
       }

.soporte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 20px;
	color: #0094da;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.BOTTOMTITULO {
	color: #00008B;
	font-size: 1.5em;
	font-family: "Muli", sans-serif;
}

.rectanguloRecibidos {
     height: 80px;
     width: 1370px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

.BOXrecibidos {
	float: left;
	width: auto;
	margin-left: 30px;
	clear: both;
	margin-top: 1px;
	font-family: "Muli", sans-serif;
	
}

.databoxRecibidos {
	font-family: "Muli", sans-serif;
	font-size: 2em;
	border-radius: 2px;
	height: 50px;
	width: auto;
	color: #999;
	font-weight: normal;
}

.texTarea {

	padding-top: 10px;
	margin-top: 20px;


}