/*Rectangulo azul de arriba de las páginas*/
.rectangulo {
     height: 110px;
     width: 1369px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

/*Letras del título de las páginas*/
p {
	color: white;
	text-align: center;
	font: 200% sans-serif;
}

/*Letras del título de las páginas*/
p.padding {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
}

div img{
	float: left;
}

img{
	
	float:left;width:105px;height:60px;margin:10px;margin-top:10px;
}

/*Creación de la barra de busqueda*/
#caja{
	float:left;width:180px;height:15px;margin:1px;margin-top:25px;
}

/*Cuadro Rojo para el Registro*/
#form-divRegistro {
	background:#E60000;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: -8px;
	padding-bottom: 35px;
	width: 470px;
	float: center;
	left: 50%;
	position: absolute;
	margin-top: -10px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

/*Cuadro Rojo para el Sigup*/
#form-div {
	background:#E60000;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 50px;
	width: 365px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 5px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

/*Letras del Signup*/
.TEXTO {
	width: 75px;
	float: left;
	margin-left: 30px;
	height: 20px;
	clear: both;
	line-height: 40px;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
	color: #FFF8DC;
	font-size: 2em;
}

/*Título para persuadir al cliente a registrarse y crear una cuenta*/
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}
 
 /*Título para información sobre como eliminar mensajes*/
h5 { 
    display: block;
    font-size: 20px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: blue;
}

/*Texto de la página de registro*/
.TEXTOregistro {
	width: 50px;
	float: left;
	margin-left: 30px;
	height: 10px;
	clear: both;
	line-height: 10px;
	margin-top: 5px;
	font-family: "Muli", sans-serif;
	color: #FFF8DC;
	font-size: 15px;
}

/*Cajas para ingresar datos*/
.BOX {
	float: left;
	width: auto;
	margin-left: 30px;
	clear: both;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
}

.BOXregistro {
	float: left;
	width: 50px;
	padding: 5px;
	margin-left: 30px;
	clear: both;
	margin-top: 15px;
	font-family: "Muli", sans-serif;
}

.databox {
	font-family: "Muli", sans-serif;
	font-size: 1em;
	border-radius: 2px;
	height: 25px;
	width: auto;
	color: black;
	font-weight: normal;
	margin-top: 10px;
}

/*Cajas del signup para ingresar los datos*/
.databoxRegistro {
	font-family: "Muli", sans-serif;
	font-size: 15px;
	border-radius: 2px;
	height: 20px;
	width: auto;
	color: black;
	font-weight: normal;
}

/*Botones*/
.boton{
	    margin-left: 30px;
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#00008B;
        border:0px;
        width:110px;
        height:25px;
       }

       /*Boton del buscador*/
.botonBuscar{
	float:left;width:85px;height:20px;margin:1px;margin-top:25px;
}

/*Información de la ubicación de cada página y slogan*/
.soporte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 20px;
	color: #0094da;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*Información de la ubicación de cada página y slogan*/
.BOTTOMTITULO {
	color: #00008B;
	font-size: 1.5em;
	font-family: "Muli", sans-serif;
}

/*Rectangulo azul de arriba de las páginas de Enviados*/
.rectanguloRecibidos {
     height: 80px;
     width: 1368px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

/*Rectangulo azul de arriba de las páginas de Salida*/
.rectanguloSalida {
     height: 80px;
     width: 1368px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

/*Rectangulo para ubicar los botones*/
.rectanguloBotones {
     width: 100px; 
     float: left;
     height: 100px;
}

/*Crear diseño ubicación a la tabla*/
#tablet{
	width:80%;float=right;margin-left:150px;border:5;background:#DCDCDC;margin-top:12px;border-collapse:separate;
  border-spacing:10px;
}

/*Espacio para escribir un mensaje*/
#textarea{
	width:600px;float=right;margin-left:100px;border:5;margin-top:1px;height:300px;resize:none;
}

/*Espacios para escribir destinatarios y asunto*/
#textareaPara{
	width:600px;height:15px;margin-left:100px;border:5;margin-top:1px;resize:none;
}

/* No me funciona para enlaces entre páginas =/
.botonEnviar{
	width:85px;height:20px;margin-left:200px;background:#00008B;color:white;
} */

/* No me funciona como el botonBuscar  =/
.botonRedactar{
	width:95px;height:30px;margin:1px;margin-top:1px;background:#B20000;color:white;
} */

#chbox{
	width:900px;height:180px;margin-left:200px;margin-top:1px;
}

#messenger {
	width:800px;height:24px;margin-left:200px;color:black;text-align:justify;font-size:15px;
}
