.rectangulo {
     height: 110px;
     width: 1369px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

p {
	color: white;
	text-align: center;
	font: 200% sans-serif;
}

p.padding {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#form-divRegistro {
	background:#E60000;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: -8px;
	padding-bottom: 35px;
	width: 470px;
	float: center;
	left: 50%;
	position: absolute;
	margin-top: -10px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#form-div {
	background:#E60000;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 50px;
	width: 365px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 5px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.TEXTO {
	width: 75px;
	float: left;
	margin-left: 30px;
	height: 20px;
	clear: both;
	line-height: 40px;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
	color: #FFF8DC;
	font-size: 2em;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

.TEXTOregistro {
	width: 50px;
	float: left;
	margin-left: 30px;
	height: 10px;
	clear: both;
	line-height: 10px;
	margin-top: 5px;
	font-family: "Muli", sans-serif;
	color: #FFF8DC;
	font-size: 15px;
}

.BOX {
	float: left;
	width: auto;
	margin-left: 30px;
	clear: both;
	margin-top: 10px;
	font-family: "Muli", sans-serif;
}

.BOXregistro {
	float: left;
	width: 50px;
	padding: 5px;
	margin-left: 30px;
	clear: both;
	margin-top: 15px;
	font-family: "Muli", sans-serif;
}

.databox {
	font-family: "Muli", sans-serif;
	font-size: 1em;
	border-radius: 2px;
	height: 25px;
	width: auto;
	color: black;
	font-weight: normal;
	margin-top: 10px;
}

.databoxRegistro {
	font-family: "Muli", sans-serif;
	font-size: 15px;
	border-radius: 2px;
	height: 20px;
	width: auto;
	color: black;
	font-weight: normal;
}

.boton{
	    margin-left: 30px;
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#00008B;
        border:0px;
        width:150px;
        height:25px;
       }

.soporte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 20px;
	color: #0094da;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.BOTTOMTITULO {
	color: #00008B;
	font-size: 1.5em;
	font-family: "Muli", sans-serif;
}

.rectanguloRecibidos {
     height: 80px;
     width: 1368px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

.rectanguloSalida {
     height: 80px;
     width: 1368px; 
     background:#00008B;
     margin-top: -30px;
     margin-bottom: 50px;
     margin-left: -10px;
}

.rectanguloBotones {
     width: 100px; 
     float: left;
     height: 100px;
}

#tablet{
	width:80%;float=right;margin-left:150px;border:5;background:#DCDCDC;margin-top:12px;border-collapse:separate;
  border-spacing:10px;
}

#textarea{
	width:600px;float=right;margin-left:100px;border:5;margin-top:1px;height:300px;
}

#textareaPara{
	width:600px;height:15px;margin-left:100px;border:5;margin-top:1px;
}